name: Pull Request Workflow
on: pull_request

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: "16.14.2"
      - name: Capture NPM version number
        id: npm-capture
        run: echo "::set-output name=version-number::$(npm -v)"
      - uses: actions/cache@v2
        id: npm-cache
        with:
          path: "./node_modules"
          key: ${{ runner.os }}-npm-v${{ steps.npm-capture.outputs.version-number }}-${{ hashFiles('./package-lock.json') }}
      - if: steps.npm-cache.outputs.cache-hit != 'true'
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{secrets.PACKAGES_TOKEN}}

      # Task execution
      - run: npm run lint:javascript
      - run: npm run validate:formatting
      - run: npm run extract:release-notes
